body {
	background-image: url("../images/background.png");
}
p {
	text-align: left;
}
/*NAVBAR STUFF*/
.navbar-default {
	background-color: #ffffff;
	border: none;
	border-bottom: 2px solid #cccccc;
	font-family: "Georgia", "Times", "Times New Roman", "serif";
}
#navbar-brand-override {
	margin: 0;
	width: 230px;
	background-color: #4aaaa5;
	color: #f5f4f0;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}
#navbar-links-override {
	font-weight: bold;
	float: right;
}
/*NO MORE NABAR STUFF*/
/*Footer stuff*/
footer {
	clear: both;
	widows: 100%;
	height: 30px;
	padding:5px 0px 0px 0px;
	background-color: #666666;
	color: #ccc;
	font-size: 0.75em;
	text-align: center;
	vertical-align: middle;
	border-top: 5px solid #4aaaa5;
	z-index: 1000;
}
/*Footer stuff done*/
.panel {
	background-color: #fff;
	border: 1px solid #dddddd;
}
.panel-default>.panel-heading {
	background-color: inherit;
	border-bottom: 3px solid #ccc;
	padding-top: 0;
	padding-bottom: 0;
}
.panel-heading h2{
	color: #4aaaa5;
	font-size: 2em;
	font-weight: bold;
}
#profile-picture {
	width: 200px;
	margin: 0px 20px 10px 0px;
}
.panel-body>img {
	float: left;
}
.panel-heading h3{
	color: #4aaaa5;
	font-size: 1.2em;
	font-weight: bold;
}
.panel-body>a>img{
	width: 40px;
	margin: 0;
	padding: 0 1px 0 1px;
}
div.panel-heading>h3, div.panel-body{
	text-align: center;
}	
@media screen and (max-width: 991px	){
	div.panel-heading>h3, div.panel-body{
		text-align: left;
	}
}
.portfolio img,.portfolio h4{
	width: 300px;
}
.portfolio h4{
	margin: 0;
	padding: 5px 0 5px 0;
	background-color: #4aaaa5;
	color: #f5f4f0;
	font-weight: bold;
}
.portfolio a{
	align-content: center; 
}
.portfolio-pictures>h4 {
	text-align: center;
}